@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background: rgba(255, 255, 255, 0.7);
  overflow-x: hidden;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Main navbar styles */
.navbar {
  background: rgba(255, 255, 255, 0.7);
  opacity: 0.7;
  width: 100vw;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Inner navigation styling */
.innerNav {
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-weight: 500;
  width: 100vw;
  max-width: 1200px;
  position: relative;
}

/* Logo and Icon */
.nameAndIcon {
  display: flex;
  align-items: center;
}

.nameAndIcon img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

/* Navigation Links */
.links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.links a {
  text-decoration: none;
}

.links li {
  margin: 0 15px;
  cursor: pointer;
  font-size: 20px;
  color: #007bff;
  font-weight: 600;
  transition: 0.2s font-size ease-in;
}

.links li:hover {
  font-size: 24px;
}

/* Login button styling */
.login {
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  color: #EEEEEE;
  margin: 0;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s background-color ease-in;
}

.login:hover {
  background-color: #006ee3;
}

/* Mobile styles */
@media (max-width: 768px) {
  .innerNav {
    justify-content: space-between;
  }

  .login {
    padding: 5px 10px;
    font-size: 13px;
  }

  .links {
    display: none;
  }

  .nameAndIcon {
    flex: 1;
  }

  .login {
    display: block;
  }
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Slogan CSS */

.slogan {
  color: #393E46;
  margin: 50px auto;
  display: flex;
  gap: 20px;
  align-items: center;
}

.slogan h1 {
  font-size: 58px;
  margin: 0;
  font-weight: bold;
}

.slogan p {
  font-size: 34px;
  margin: 10px 0 0;
  font-weight: 500;
}

.seperator {
  height: 10px;
  background-color: #393E46;
  width: 100vw;
}


.hero1 {
  background-color: #f4f4f9;
  /* background-color: rgb(255, 113, 113); */
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.bmi {
  height: auto;
  width: 80%;
  background-color: #fff;
  margin: 30px auto;
  border-radius: 15px;
  max-width: 1200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bmiInner {
  margin: 10% auto;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.calBMI form {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 10px;
}

.calBMI {
  width: 50%;
  max-width: 600px;
}

.handw {
  width: 100%;
  height: 40px;
  padding-left: 12px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gender {
  margin-top: 15px;
  width: fit-content;
}

#female,
#others {
  margin-left: 5px;
}

.convertToftandpound {
  width: fit-content;
  font-size: 12px;
  margin-top: 7px;
}

.convertToftandpound p {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.genderAndConvert {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.outerBar {
  width: 200px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-right: 0px;
}

.userbmi {
  text-align: center;
}

.userbmi h2 {
  text-align: center;
  font-size: 80px;
}

.bmiComment {
  margin-top: 10px;
  font-size: 25px;
}

.buttonBMI {
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  color: #EEEEEE;
  margin: 0;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s background-color ease-in;
  width: 50%;
  margin: auto;
  margin-top: 30px;
  text-align: center;

  &:hover {
    background-color: #006ee3;
  }
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Fitness goals  */
.fitness-goals {
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  color: #fffaf2;
  background-color: #222831;
  border-radius: 15px;
}

.fitness-goals h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #fff;
}

.goals-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 80%;
  margin: auto;
}

.goal-item {
  background-color: #fff;
  color: #222831;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  flex: 1 1 calc(33.33% - 20px);
  box-sizing: border-box;
  text-align: center;
  max-width: calc(33.33% - 20px);
  font-weight: 500;
}

.goal-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #98caff;
  color: #393E46;
  font-weight: 600;
}

.show-plan {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: 500;
}

.show-plan:hover {
  background-color: #393E46;
  color: #fff;
  transform: scale(1.05);
  font-weight: 600;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


.features {
  background-color: #222831;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 50px 20px;
}

.features-box {
  background-color: #393E46;
  border-radius: 15px;
  padding: 30px;
  width: 80%;
  max-width: 1200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.features-box h1 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #fffaf2;
  text-align: center;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.feature-item {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  flex: 1 1 30%;
  max-width: calc(33.333% - 20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.feature-item h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333333;
}

.feature-item p {
  font-size: 16px;
  color: #666666;
}

.feature-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* About Us */

.about-us {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
  padding: 60px 20px;
  width: 100vw;
}

.about-content {
  flex: 1;
  max-width: 600px;
  padding: 20px;
  text-align: center;
}

.about-content h1 {
  font-size: 48px;
  color: #222831;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about-image {
  flex: 1;
  max-width: 600px;
  padding: 20px;
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* Contact Us */
.contact-us {
  background-color: #222831;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.contact-form-container {
  background-color: #393E46;
  border-radius: 15px;
  padding: 80px;
  width: 80%;
  max-width: 1200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact-form {
  width: 60%;
}

.contact-form h1 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #fffaf2;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-input,
.contact-textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-textarea {
  height: 100px;
  resize: none;
}

.contact-submit {
  background-color: #00ADB5;
  color: #fffaf2;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.contact-submit:hover {
  background-color: #393E46;
}

.contact-image {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Footer Section */

.footer {
  background-color: #222831;
  color: #EEEEEE;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  max-width: 1200px;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo img {
  margin-right: 10px;
}

.footer-links {
  flex: 1;
  min-width: 200px;
}

.footer-links h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #fffaf2;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 5px;
}

.footer-links ul li a {
  text-decoration: none;
  color: #EEEEEE;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: #00ADB5;
}

.footer-social {
  flex: 1;
  min-width: 200px;
}

.footer-social h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #fffaf2;
}

.footer-social ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.footer-social ul li {
  margin-bottom: 5px;
}

.footer-social ul li a {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.footer-social ul li a img {
  width: 100%;
  height: 100%;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #393E46;
  padding-top: 10px;
  width: 80%;
  max-width: 1200px;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  color: #666666;
}

.nextLink {
  text-decoration: none;
}


/* Landing Mobile CSS */

@media (max-width: 768px) {


  .hero1 {
    padding: 20px;
  }

  .slogan {
    flex-direction: column;
    width: 80%;
  }

  .slogan h1 {
    font-size: 30px;
    align-self: start;
  }

  .slogan p {
    font-size: 25px;
  }

  .bmi {
    width: 100%;
    margin: auto;
  }

  .bmiInner {
    flex-direction: column;
    width: 90%;
  }

  .gender {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .buttonBMI {
    margin-top: 20px;
  }

  .userbmi h2 {
    font-size: 60px;
  }

  .bmiComment {
    font-size: 20px;
  }

  .calBMI {
    width: 100%;
    margin: 0;
  }

  .outerBar {
    margin-top: 20px;
    width: 100%;
  }

  .fitness-goals {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
  }

  .goals-list {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .goal-item {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .show-plan {
    width: 100%;
    padding: 12px 20px;
  }

  .features {
    padding: 20px;
  }

  .features-box {
    width: 100%;
    padding: 20px;
  }

  .feature-list {
    flex-direction: column;
    gap: 5px;
  }

  .feature-item {
    flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .feature-item h2 {
    font-size: 18px;
  }
  .feature-item p {
    font-size: 13px;
  }
  .about-us {
    flex-direction: column;
    text-align: center;
  }

  .about-image {
    max-width: 100%;
    padding: 0;
  }

  .contact-us {
    padding: 20px;
  }

  .contact-form-container {
    flex-direction: column;
    padding: 25px;
    width: 100%;
  }

  .contact-form {
    width: 100%;
    margin-bottom: 20px;
  }

  .contact-form h1 {
    text-align: center;
    font-size: 28px;
  }

  .contact-image {
    width: 100%;
    margin-top: 20px;
  }

  .footer-links{
    text-align: right;
  }

  .footer-social {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
  }
}

/* Introduction css */
/* Container */
.intro-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 1rem;
}

/* Flexbox layout for sections */
.intro-section {
  display: flex;
  flex-direction: column;
  /* Default flex-direction for mobile */
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 30px;
}

.section-left {
  flex-direction: row;
}

.section-right {
  flex-direction: row-reverse;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: left;
  margin-left: 100px;
}

.image-container-plate {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-right: 100px;
}

.section-image {
  width: 300px;
  height: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.section-image:hover {
  transform: scale(1.05);
}

/* Text container */
.text-container {
  width: 100%;
  margin-right: 100px;
}

.text-container-plate {
  width: 100%;
  margin-left: 100px;
}

.section-title {
  font-size: 2.25rem;
  /* 4xl in Tailwind */
  font-weight: bold;
  color: #2d2d2d;
  margin-bottom: 1rem;
}

.section-subtitle {
  font-size: 1.25rem;
  /* xl in Tailwind */
  color: #4b4b4b;
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .intro-section {
    flex-direction: row;
    /* For larger screens, switch to row layout */
  }

  .section-left,
  .section-right {
    flex-direction: row;
  }

  .section-title {
    text-align: left;
  }
}

@media (max-width: 768px) {

  /* Stack content vertically on small screens */
  .section-left {
    flex-direction: column;
  }

  .section-right {
    margin-top: 20px;
    flex-direction: column-reverse;
  }

  .image-container,
  .image-container-plate {
    justify-content: center;
    margin: 0;
  }

  .section-title {
    font-size: 1.75rem;
  }

  .section-subtitle {
    font-size: 1rem;
  }

  .text-container {
    margin-right: 0;
  }

  .text-container-plate {
    margin-left: 0;
  }

  .image-container-plate {
    margin-right: 0;
  }
}